.choice-container{
    display: flex;
    margin-bottom:  0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid rgba(255, 183, 183, 0.5);
   justify-content: center;
}

.center {

    border: 3px solid rgb(123, 255, 123);
    padding: 80px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 10rem;
  }