
:root{
  --dark: #212121;
  --light: #eeeeee;
}
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  text-decoration:none;
  list-style: none;
  color:#212121;
  font-family:'Baloo Bhaijaan 2';
}

body{
  height:100vh;
  overflow-x:hidden;
}
.bg{
  position: fixed;
  z-index: 0;
  
  min-width: 100vw;
  min-height: 100vh;
  
  background-image: url(/imgs/bgBlack.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
/*   opacity: .7; */
}



.container{
/*   background-color: rgb(210, 226, 182); */
  z-index: 4;
  
  position: absolute;

  display:flex;
  justify-content: space-between;
  
  margin-top:15vh;
  padding-right:40px;
  padding-left:40px;
  height: 70vh;
  width: 100vw;
}
.container .side ul{
/*   position: relative; */
  background-color: #04293A;  
  
}
.container .side ul li a{
/*   position: absolute; */
  background-color: red;
  padding: 10px 20px;
}
.container .side ul li{
  
}
.container .main{
/*   background-color:  #0e007c75; */
/*   margin-right: 40px; */
  width:70vw;
  height:max-content;
  border-radius: 10px;

/*   padding:50px 40px ;   */

  display:flex;
  flex-direction: column;
  align-items: center;

  
}
.container .main .header{
/*   background-color:rgb(4,28,50); */
/*   background-color: #041C32; */
/*   background-color:rgb(4,28,50, 0.5); */
  background-color:rgb(222, 222, 222, 0.9);
  
  width: 100%;
/*   height: 75px; */
/*   margin-bottom:25px; */
padding: 37.5px 0px;
  text-align: center;
  vertical-align: middle;
  
  border-top-left-radius: 10px ;
  border-top-right-radius: 10px;

  
}

.container .main .content{
  padding-top:25px;
  padding-bottom:40px;
  padding-left: 40px;
  padding-right: 40px;
  
/*   background-color: #041C32; */
/*   background-color:rgb(4,28,50, 0.5); */
  background-color:rgb(222, 222, 222, 0.9);
  
}

nav{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width:100vw;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  height: 7.5vh;
  z-index: 5;
  background-color: var(--light);
  /*        Y    X  */
  padding:15px 30px;
}

.logo{
  position:relative;
/*   dispaly:flex; */
/*   background-color:red; */
  height:7.5vh;
  width:90px;
  margin-left:15px;
  
}
.logo img{
  width: 100%;
/*   border: 1px solid; */
  margin-top: -20px;
/*   position:absolute; */
/*   height:10px; */
/*   width:60px; */
}

.menu{
  position: relative;
  width: 60%;
  height: 35px;
/*   margin-right: 2%; */
  display: flex;
  align-items: center;
/*   justify-content: space-between; */
  flex-direction: row;
/*   background-color: red; */
  
  }
.menu  li a{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  
  min-height:100%;
  width: max-content;
/*   background-color: white; */

      margin: 0 0.5rem;
    padding: 0.5rem .5rem;
}
.menu li .txt, .logo{
  color: black;
  
  }
.menu li{
  min-height:100%;
  margin-left: 5em;
/*   background-color:pink; */ 
}
.menu li:nth-child(2){
  margin-left:27vw;
}
/* .menu li:nth-child(2), 
.menu li:nth-child(4){  
} */
.menu li:nth-child(4){
/*   margin-right:5%; */
}


.btn{
  z-index: 1;
  opacity: 0;
  display:none;
  position:relative;
  appearance:none;
  border:none;
  outline:none;
  background:none;
  cursor:pointer;
  width: 38px;
  height: 35px;
/*   background-color: red; */
  
  
/*   overflow:hidden; */
  
}

.btn span{
  z-index: 1;
  display:block;
  position:relative;
  width: 33px;
  height: 4px;
  border-radius: 6px;
  margin-bottom:5px;
  background-color: var(--dark);

/*   transform-origin: 0 0; */
  transition: .3s ; 
  
  
}
/* hover if its not active */
.btn:hover:not(.isActive) span:nth-child(1){
  width:15px;
}
.btn:hover span:nth-child(2){
  width:25px;
  
}

/* .btn span:nth-child(1){  
}
.btn span:nth-child(2){
} */

/* if active class == do to ...  */
.btn.isActive span:nth-child(1){
  transform:rotate(45deg)  translate(5px, 5px);
  /*translate(0px, 2px)*/
}
.btn.isActive span:nth-child(2){
  opacity: 0;
}
.btn.isActive span:nth-child(3){
  transform:rotate(-45deg) translate( 7px, -7px);
  
}

@media (max-width: 800px) {
  .menu{
    display:none;
    flex-direction: column;
    position:absolute;
    right:0;
    top:0;
  }

  .logo{
  margin-left:10px;
}
.logo img{
  width: 100%;
  margin-top: -14px;
}

  ul:not(.active){
    display:flex;
    align-items: center;
    justify-content: center;
    top:8.5vh;
    right: -10px;
    width:0vw;
    height:max-content;
    background-color: var(--light);
    border-radius: 15px;
    opacity: 0;
    transition: .7s;
  }
  ul.active{
    z-index: 10;
    display:flex;
    align-items: center;
    justify-content: center;
    top:8.5vh;
    margin-right: 27px;
    width:40vw;
    height:max-content;
    background-color: var(--light);
    border-radius: 15px;

    
    opacity: 1;
    transition: .7s;
    
  }
  
  
  .menu li{
  min-height:100%;
  margin-left: 0em
  }
  
  .menu li:nth-child(2){
    margin-left:0vw;
  }
    
  ul li{
    margin-left: 0;
    margin-top: 10px;
  }
    ul li:nth-child(4){
    margin-bottom: 10px;
  }
  
  .btn{
    display:block;
    opacity: 1;
    }
  
  .btn:not(.isActive) span:nth-child(1)  {
  width:15px;
  }
  .btn span:nth-child(2){
  width:25px;
  }

  

  
}